# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.env.local

# Backend
/backend/node_modules/
/backend/.env

# MacOS & IDEs
.DS_Store
.idea/

# Vercel & other deploy
.vercel/

# Env examples (if generated later)
/frontend/.env.example
