@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-sans bg-[#121212] text-white;
}

body {
    background-color: #181818;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    max-width: 95%;
    margin: auto;
}


/* scroll bar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px; 
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}